@font-face {
    font-family: Gabarito;
    src: url(./fonts/Gabarito-VariableFont_wght.ttf) format("truetype");
    font-weight: 400 900;
}

html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Gabarito, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    --link-color: rgba(255, 255, 255, 0.534);
    --form-control-width: 250px;
}

.page-layout{
    display: flex;
}

.banner-container{
    position: relative;
}

.banner-container > .attribution{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--link-color);
}

.banner-container a{
    color: var(--link-color);
}

.banner{
    z-index: 2;

    position: absolute;
    top: 66%;
    width: 100%;
    height: 200px;
    background-color: #00000077;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 12px;
    height: 100%;
    background: linear-gradient(to right, #00000077, #00000000);
}

.banner-image{
    display: block;
    height: 100vh;
    width: auto;
    border-right-width: 4px;
    border-right-style: solid;
    border-image: linear-gradient(to bottom, #d7e5ed, #0c151e) 4;
}

.banner-title{
    position: relative;
    font-size: 3rem;
}

.banner-title::before{
    position: absolute;
    content: "";
    width: 54px;
    height: 54px;
    left: 0;
    transform: translateX(-130%);
    background-image: url(img/beach_access.svg);
    background-size: cover;
}

.info-container{
    flex: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(222, 246, 255);
    box-shadow: inset 0px 0px 8px 0px black;
}

.hero-text{
    position: relative;
    margin: auto;
    margin-left: 100px;
    font-weight: 500;
}

.form-container{
    width: 100%;
}

form fieldset{
    position: relative;
    background-color: white;
    padding: 100px;
    padding-bottom: 64px;
    border: none;
    box-shadow: 4px 0px 16px 0 rgba(0, 0, 0, 0.347);
}

fieldset legend{
    position: absolute;
    top: 16px;
    left: 100px;
    font-size: 2rem;
    font-weight: bold;
}

.input-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 32px;
}

.input-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
}

form label{
    display: block;
    margin-bottom: 4px;
    width: 100%;
    font-size: .7rem;
    font-weight: bold;
    color: rgb(91, 112, 114);
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"]{
    font-size: 1.1rem;
    width: var(--form-control-width);
    padding: 6px;
    border-radius: 4px;
    border: 2px solid rgba(75, 148, 169, 0.132);
    background-color: #fcfcfc;
    color: rgb(41, 41, 41);
}

form button{
    width: var(--form-control-width);
    height: 50px;
    background: linear-gradient(45deg, #0583a1, #17a9d1);
    color: white;
    font-size: 1.1rem;
    border: 2px solid #17a9d1;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.257);
    transition: all .16s;
}

form button:hover,
form button:focus{
    transition: all .16s;
    cursor: pointer;
    filter: brightness(1.1);
    border: 2px solid #1cc4f3;
    background-position: 4px 0;
}